.GameGoblin-ui {
  .nav {
    background-color: $nav-bg-colour;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: start;

      li {
        margin-right: 1rem;

        &.selected {
          background-color: $nav-item-selected-bg-colour;
        }
      }
    }
  }
}